{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удалить пост</legend>
                <h2>Вы уверены что хотите удалить "{{ object.title }}"?</h2>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-secondary" href="{% url 'post_detail' object.pk %}">Отмена</a>
                <button class="btn btn-outline-danger" type="submit">Удалить</button>
            </div>
        </form>
    </div>

{% endblock %}